*.b$?
*.s$?
*.l$?
eagle.epf
*.pro
*.job
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.ger
*.gpi
*.xln
*.drd
*.drd.*
*.info
*.eps
*.lck
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.net
*.dsn
*.ses
*.xml
*.csv
